spring:
  application:
    name: fx-deals-importer
  datasource:
    url: jdbc:postgresql://localhost:5432/fx
    username: fx
    password: fx
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

server:
  port: 8080

logging:
  level:
    root: info
    com.bbg.fx: info